{% extends 'base.html' %}

{% block title %}Страница юзера{% endblock %}
    <div class="container my-3">
        {% block content %}
        <p class="lead">Страница юзера.</p>
        <div class="row">

        {% for user in users %}
          
          
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{user.userphoto}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Карточка юзера</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{user.username}}</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link">Ссылка карточки</a>
                    <a href="#" class="card-link">Другая ссылка</a>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>

    </div>
    
    {% endblock %}
